    @import url('https://kit.fontawesome.com/a076d05399.js');
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    .container {
        width: 500px;
        margin: auto;
    }
    .chat {
        display: flex;
        flex-direction: column;
        
        background:white;   
        border : solid 2px;
        border-color: black;
        margin-top: 50px;
        margin-bottom: 50px;
        overflow:hidden;
    }
    .chat-header {
        display: flex;
        cursor: pointer;
        border-bottom : solid;
    }
    .profile {
        width: 100%;
        background: white;
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0px 10px;
        position: relative;
        border-color: black;
    }
    .profile h2 {
        display: inline-block;
        line-height: 60px;
        vertical-align: top;
        color:black;
        font-size: 20px;
        margin-left: 50px;
        margin-bottom:2px;
    }
    .profile span {
        color: black;
        position: absolute;
        top: 42px;
        left: 70px;
        font-size: 16px;
    }

    .profile .left {
        flex: 1;
    }
    .profile .arrow {
        display: inline-block;
        width: 50px;
        position: absolute;
        top: 5px;
        
    }


    .chat-box {
        background: white;
        background-attachment: fixed;
        
        flex: 1;
        
    }
        
        

        
        .chat-box .mess .amountdiv p {
            
            font-size: 30px;
            margin-left: 10px;
            margin-top: 10px;
            font-weight:bold;
            font:times;
            
        }
        
        
        
        .mess{
            background: white;
            border: solid black 2px;
            height: 95px;
            width: 300px;
            margin:30px 10px 30px 10px;
            
            display:grid;
            grid-template-columns: 150px 150px;
            grid-template-rows: 48px 47px;
        position: relative;
        }
        .time{
            width:120px;
            height:20px;
            font-size: 13px;
            transform: translate(45px,50px);
        
            }
        .amountdiv{
            
            border:none;
            float: left;
            
            
        }
        .statusdiv{
        
            border:none;
            float: left;       

        }
        .buttondiv{
            
            border: none;
            float: left;

        }
        .arrowdiv{
        
            border: none;
            float: left;
        
        }
        
        .tranId{
            border:solid black 1px;
            height: 60%;
            width : 75%;
        }
            
            
            
        
        .button{
            background-color:white;
            color: black;
            border: black solid 1px;
            font-size: 13px;
            padding: 3px 12px;
            margin-right: 3px;
            margin-left: 12px;
            margin-top:8px;
            text-align: center;
            border-radius:8px;
            
        }
        .tranid{
            font-size: 12px;
            position: relative;
            margin-left:10px;
            padding:3px;
            margin-top: 8px;
            font-weight: 110%;
            Font:arial;
        }
        .request{
            text-align: right;
            margin-right: 12px;
            margin-top:20px;
            font-size: 16px;
            font:arial;
        }
        
        
        
        .mess-r{
            float:right;
        }
        .mess-l{
            float:left;
        }

        .arrow-b{
            border: solid BLACK;
            color: black;
            border-width: 0 3px 3px 0;
            
            padding: 4px;
            position:relative;
            cursor:pointer;
            float:right;
            margin-right: 20px;
            
        }
        .right {

            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
   

        .date-line{
            border: red solid 2px;
            width :500px;
            height:20px;
            padding:10px;
            transform:translate(-3  px,-100px);
            position : relative;
            
        }
